<div class="paper-container">
{% for paper in papers %}
    <div class="paper">
        <a href="{% url 'app:papers_detail' paper.id %}">
            <iframe src="{{ paper.paper.url }}" width="100%" height="300px" frameborder="0"></iframe>
        </a>
        <div class="paper-info">

            <a href="{% url 'app:papers_category' category=paper.category %}" class="category">
                {{ paper.category }}
            </a>
            <a href="{% url 'app:users_detail' paper.user.id %}">@{{ paper.user}}</a>
        </div>
    </div>
{% endfor %}
</div>